@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1456px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(28, 82, 221, 0.56);
  margin: 0 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.logo-content h1{
  color: #FAFAFA;
  font-size: 48px;
  margin-top: 55px;
  padding-left: 11px;
}

.logo-content h1::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  background: linear-gradient(90deg, #345AA4 0%, #3F009C 154.76%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px 0 0 3px;
  position: relative;
  z-index: 1;
  top: 4px;
  left: -9px;
}

.logo-content h1::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  z-index: 2;
  top: -7px;
  position: relative;
  left: -307px;
}

.menu-content a {
  margin: 0 30px;
  color: #EBEBEB;
  font-size: 30px;
}

.sign-up {
  background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
  border-radius: 13px;
  width: 164px;
  height: 61px;
  font-size: 24px;
  color: #E5E5E5;
  padding: 17px 45px;
}

.main {
  background-image: url("../img/WorkingProcess.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 833px 664px;
}

.info {
  height: 664px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 73px;
  margin-bottom: 173px;
}

.info h1{
  color: #FFFFFF;
  font-size: 70px;
  padding-right: 825px;
  margin-bottom: 4px;
}

.info p {
  color: #E5E5E5;
  font-size: 36px;
  padding-right: 825px;
  margin-top: 4px;

}

.join-btn {
  background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%);
  border-radius: 13px;
  width: 277px;
  height: 85px;
  font-size: 36px;
  color: #E5E5E5;
  padding: 21px 65px;
  margin-top: 55px;
}
